
body {
    display: flex;
    flex-direction: column;

    align-items: center;

}

body > div {
    border: 1px solid black;
}


* {
    font-family: 'Fira Code', monospace;


}

span {
    font-weight: bold;

}

p {
    font-family: 'Inter';
}

h2 {
    border-bottom: 3px solid black;
}


/* navbar ruleset */

nav {

    border: 1px solid black;
    width: 100%;

    display: flex;

    /* horizontal axis (x) */
    justify-content: space-between;

    /* vertical axis (y) */
    align-items: center;
}

.navbar-left {
    margin-left: 1.5%;
}

.navbar-left > h1 {
    font-size: 1.25em;
}

.navbar-right {
    margin-right: 3%;

}

ul.navbar-links {
    padding: 0;
}

.navbar-links > li {

    list-style-type: none;
    display: inline;
}

a {
    text-decoration: none;
}

/* homepage ruleset */

#home {


    display: flex;

    justify-content: space-evenly;
    align-items: center;


    margin: 5% 0;
    background-color: #f2f2f2;
    width: 100%;
    }


.intro-2 > h1 {
    font-family: 'Inter';
    font-size: 6vw;

    margin: 0;
}

.intro-3 > p {
    font-family: 'Inter';
    line-height: 1.5;

}


.pfp-container > img {
    border-radius: 50%;

    border: 3px solid black;
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;

    height: 25rem;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

/* about page rulset */



#about {

    display: flex;

    flex-direction: column;
    align-items:center;

}


.about-content {

    display: flex;

    flex-direction: row;
    
    justify-content: space-around;
    align-items: center;

    width: 100%;

    margin: 2% 5%;


}

.about-text {

    background-color: #f2f2f2;
    border-radius: 5%;
    padding: 1%;

    text-align: start;
    line-height: 2;

    width: 35%;
    
}

.about-images {

    width: 30%;

}



.row-1 > img {
    height: 6em;
}

.row-2 > img {
    height: 6em;
}

.row-3 > img {
    height: 6em;
}

.row-1, .row-2, .row-3 {
    
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;

    width: 75%;

    margin-bottom: 2%;
}



/* project page ruleset */

#projects {

    width: 100%;
    background-color: #f2f2f2;

    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;
}

/* contact page ruleset */

#contact {

    width: 100%;

    display: flex;

    flex-direction: column;

    align-items: center;

}

.contact-text {

    display: flex;

    flex-direction: column;

    align-items: center;


}

.contact-icon > img {

    height: 5em;
}

#email-button {
    background-color: transparent;
    height: 3em;
    width: 9em;

    font-family: 'Lato';

    margin: 5% 0;
}